#displayMobile{
    width: 90%;
  }
  body{
    background-color: #170614;
  }
  #input-search-text{
    width: 50%;
    margin: auto;


  }
  #card-details{
    width: 75%;
}


@media (max-width: 600px) {
    #input-search-text{
        width: 75%;
        margin: auto;
      }
      #card-details{
          width: 80%;
      }

}